<h1>Create A New Cat!</h1>

<%= render partial: 'form', locals: { cat: Cat.new } %>
<!-- <form action='/cats' method='post'>
  <label for='cat_name'>First name</label>
  <input name='cat[name]' id='cat_name' type='text'>
  <br>

  <label for='cat_age'>Age</label>
  <input name='cat[age]' id='cat_age' type='text'>
  <br>

  <label for='cat_birth_date'>Birthday</label>
  <input name='cat[birth_date]' id='cat_birth_date' type='date'>
  <br>

  <label for='cat_color'>Color</label>
  <select name='cat[color]' id='cat_color'>
    <option value='red'>Red</option>
    <option value='cream'>Cream</option>
    <option value='chocolate'>Chocolate</option>
    <option value='tabby'>Tabby</option>
    <option value='calico'>Calico</option>
  </select>
  <br>

  <input name='cat[sex]' id='cat_sex_female' type='radio' value='F'>
  <label for='cat_sex_female'>Female</label>
  <input name='cat[sex]' id='cat_sex_male' type='radio' value='M'>
  <label for='cat_sex_male'>Male</label>

  <br>

  <input type='submit' value='Submit the cat!'>
</form> -->